<div class=" container jumbotron bg-grey rounded-lg p-3 shadow">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Log In</h1>
    <%= form_tag sessions_path do %>
      <div class="field mb-3">
        <%= label_tag :email %><br />
        <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email' %>
      </div>
      <div class="field">
        <%= label_tag :password %><br />
        <%= password_field_tag :password, params[:password], class:'form-control'%>
      </div>
      <div class="actions mt-5 ">
        <%= submit_tag "Log In",class: "btn btn-outline-info mb-3"%>
      </div>
    <% end %>
  </div>
</div>
